.advantages__list {
  margin: 0;
  padding: 0;

  @include list-reset;
}

.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;

  background-color: $gray;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;

    .advantages__item-text {
      width: 256px;

      &--bridge {
        order: 1;
      }
    }

    .advantages__item-image {
      max-height: 260px;
      width: 512px;
    }
  }

  @media (min-width: $desktop-width) {
    .advantages__item-text {
      width: 400px;
    }

    .advantages__item-image {
      max-height: 256px;
      width: 800px;
    }
  }

  &--blue {
    @include blue-design;

    &:nth-child(2) {
      @media (min-width: $desktop-width) {
        margin-top: 23px;
      }
    }
  }

  &--blue:first-child::before {
    position: absolute;
    top: -57px;

    content: "";
    width: 320px;
    height: 57px;

    background-image: url("data:image/svg+xml,%3Csvg width='320' height='57' viewBox='0 0 320 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-191.171 23.7L-441 0V57H-191.171H159.55L-191.171 0V23.7Z' fill='%2381B3D2'/%3E%3Cpath d='M510.271 23.7V0L159.55 57H510.271H760V0L510.271 23.7Z' fill='%2381B3D2'/%3E%3C/svg%3E");

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.advantages__item-title {
  margin: 0;
  padding-top: 40px;

  @include basic-title;

  &--first {
    padding-top: 35px;
  }

  &--bridge {
    padding-top: 39px;
  }

  @media (min-width: $tablet-width) {
    padding: 40px 40px 0;
    font-size: 21px;

    &--bridge {
      padding: 43px 53px 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 47px 108px 0;

    &--bridge {
      padding: 51px 125px 0;
    }
  }
}

.advantages__item-number {
  margin: 12px 0;

  @include basic-text;

  &--area,
  &--road,
  &--tourists {
    margin-top: 11px;
    margin-bottom: 25px;
  }

  &--bridge {
    @media (min-width: $tablet-width) {
      margin: 14px 0;
    }
  }
}

.advantages__item-description {
  margin: 0;
  margin-bottom: 42px;
  padding: 0 35px;

  @include basic-text;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;
  }
}

.advantages__item-description--real-town {
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    padding: 13px 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 55px;
    margin-bottom: 0;
  }
}

.advantages__item-description--bridge {
  padding: 4px 32px 0 30px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 9px 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 90px;
  }
}

.advantages__item-description--tourists {
  margin-bottom: 27px;
}

.advantages__item--no-image {
  position: relative;

  &::after {
    position: absolute;
    bottom: 17px;
    left: 20px;
    z-index: 1;

    content: "";
    width: 280px;
    height: 1px;

    background-color: #d6d6d6;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-child::after {
    content: "";

    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    width: 256px;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 400px;
    min-height: 256px;
  }
}

.advantages__item-title--no-image {
  padding-top: 26px;
  padding-right: 4px;
}

.advantages__item-title--road,
.advantages__item-title--tourists {
  padding-top: 8px;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    display: flex;
  }

  .advantages__item-title--no-image {
    padding: 39px 49px 0;
  }

  .advantages__item-description--no-image {
    margin-bottom: 40px;
    padding: 0 55px;
  }

  .advantages__item-description--area {
    padding: 0 40px;

    @media (min-width: $tablet-width) {
      padding: 0 40px 20px 40px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item-title--no-image {
    padding: 19px 125px 0;
  }

  .advantages__item-description--no-image {
    padding: 0 58px;
  }

  .advantages__item-description--road {
    padding: 0 65px;
  }
}
