.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;
}

.copyright__link {
  display: block;
  margin-left: 10px;
}
