.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-right: 5px;
  }

  @media (min-width: $desktop-width) {
   margin-left: 265px;
  }
}

.copyright__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  color: $black;
}

.copyright__link {
  display: block;
  margin-left: 10px;

  @media (min-width: $desktop-width) {
    margin-left: 14px;
   }
}
