.find-hotel {
  display: flex;
  flex-direction: column;
  padding: 38px 20px 48px;
  text-align: center;

  @media(min-width: $desktop-width) {
    padding: 57px 20px 66px;
  }
}

.find-hotel__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  color: $black;

  @media(min-width: $tablet-width) {
    font-size: 30px;
  }
}

.find-hotel__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: $dark-gray;

  @media(min-width: $tablet-width) {
   padding: 0 166px;
  }

  @media(min-width: $desktop-width) {
    padding: 0 382px;
  }
}

.find-hotel__link {
  @media(min-width: $tablet-width) {
    margin: 0 155px;
  }

  @media(min-width: $desktop-width) {
    margin: 0 370px;
  }
}
