.page-header {
  min-height: 56px;
  display: flex;
  justify-content: center;
  position: relative;
}

@media(min-width: $tablet-width) {
  .page-header__logo {
    display: none;
  }
}

.page-header__logo-img {
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
