.page-header {
  min-height: 56px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
