.site-list {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.site-list__item {
  width: 100%;

  @include basic-text;
  @include blue-design;
}

.site-list__item a {
  display: inline-block;
  vertical-align: middle;
  padding: 16px 0 11px;
}
