.site-list {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 320px;
  margin: 0;
  margin-top: 56px;
  padding: 0;
  list-style: none;

  @media(min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;

    min-width: 768px;
  }

  @media(min-width: $desktop-width) {
    justify-content: space-between;
    min-width: 1200px;
  }
}

.site-list__item {
  width: 100%;
  text-align: center;

  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;

  @include blue-design;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media(min-width: $tablet-width) {
    width: 25%;

    font-size: 14px;
    line-height: 26px;

    background: none;
    box-shadow: none;
    color: $black;
  }
}

.site-list__item a {
  display: inline-block;
  vertical-align: middle;
  padding: 16px 0 11px;

  @media(min-width: $tablet-width) {
    margin-right: 50px;
  }
}

@media(min-width: $tablet-width) {
  .site-list__item:nth-child(3) a {
    margin-right: 0;
  }

  .site-list__item:nth-child(4) a {
    margin-right: 25px;
  }
}

@media(min-width: $desktop-width) {

  .site-list__item:first-child a {
    padding-right: 100px;
  }

  .site-list__item:nth-child(4) a {
    padding-right: 50px;
  }
}
