.social {
  display: flex;
  flex-direction: column;
  text-align: center;

  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: 112px;
  }

  @media (min-width: $desktop-width) {
   margin-left: 270px;
  }
}

.social__list {
  display: flex;
  justify-content: center;

  @include list-reset;
}

.social__item {
  margin-right: 6px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
}

.social__link--twitter {
  background: $light-blue url("../img/svg/icon-twitter.svg") no-repeat center center;
}

.social__link--facebook {
  background: $light-blue url("../img/svg/icon-facebook.svg") no-repeat center center;
}

.social__link--youtube {
  background: $light-blue url("../img/svg/icon-youtube.svg") no-repeat center center;
}
