.template-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 34px 34px 15px 31px;

  &--index {
    padding: 31px 35px 15px 30px;

    @media (min-width: $tablet-width) {
      padding: 44px 29px 15px 30px;
      margin-bottom: 10px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 12px;
      margin-bottom: 1px;
    }
  }
}

.template-section__title {
  margin: 0;
  margin-bottom: 33px;

  @include basic-title;

  &--review {
    margin-bottom: 37px;
    margin-left: 5px;
    line-height: 24px;
  }

  &--photo {
    margin-bottom: 27px;
    padding-left: 4px;

    @media (min-width: $tablet-width) {
      margin-bottom: 32px;
    }
  }

  &--presentation {
    margin-bottom: 29px;
    margin-left: 3px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      margin-bottom: 33px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 33px;
    }
  }
}

.template-section__title--review,
.template-section__title--photo {
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.template-section__text {
  margin: 0;
  margin-bottom: 40px;

  @include basic-text;

  &--photo {
    margin-bottom: 55px;
    line-height: 24px;
    padding-left: 5px;

    @media (min-width: $tablet-width) {
      padding-left: 0;
      margin-bottom: 54px;
    }
  }

  &--presentation {
    margin-bottom: 0;
    margin-left: 3px;

    line-height: 24px;
  }

  &--review {
    margin-bottom: 0;
  }

  &--slogan {
    margin-bottom: 33px;
    padding-left: 5px;

    line-height: 25px;

    @media (min-width: $tablet-width) {
      margin-top: 30px;
      margin-bottom: 29px;
      padding-left: 0;
    }

    @media (min-width: $desktop-width) {
      margin-right: 3px;
    }
  }
}

.template-section--review {
  position: relative;
  margin-bottom: 18px;
  padding: 36px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 63px 102px 25px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 259px 0 265px;
    margin-bottom: 61px;
    margin-top: 114px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: -20px;
    z-index: 1;

    content: "";
    width: 320px;
    height: 1px;

    background-color: $special-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.template-section--photo {
  padding: 32px 0 0;

  @media (min-width: $tablet-width) {
    padding: 64px 105px 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 105px 380px 25px;
  }
}

.template-section--presentation {
  padding: 9px 3px 12px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 55px 95px 5px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 370px 5px;
    margin-bottom: 69px;
  }
}

.template-section__title--slogan {
  margin-bottom: 31px;
  line-height: 27px;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin: 0 auto;

    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 6px;

    line-height: 26px;
  }
}
