.template-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 34px 34px 15px 31px;

  &--index {
    padding: 31px 35px 15px 30px;

    @media (min-width: $tablet-width) {
      padding: 44px 29px 15px 30px;
      margin-bottom: 10px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 12px;
      margin-bottom: 1px;
    }
  }
}

.template-section__title {
  margin: 0;
  margin-bottom: 33px;

  @include basic-title;

  &--review {
    margin-bottom: 37px;
    margin-left: 5px;
    line-height: 24px;
  }

  &--photo {
    margin-bottom: 28px;
  }

  &--photos {
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
    }
  }


  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.template-section__title--review,
.template-section__title--photo {
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.template-section__text {
  margin: 0;
  margin-bottom: 40px;

  @include basic-text;

  &--photo {
    margin-bottom: 53px;
    line-height: 24px;
  }

  &--photos {
    line-height: 24px;
    margin-bottom: 0;
  }

  &--review {
    margin-bottom: 0;
  }

  &--slogan{
    @media (min-width: $tablet-width) {
      margin-top: 34px;
      margin-bottom: 29px;
    }
  }


}

.template-section--review {
  position: relative;
  margin-bottom: 18px;
  padding: 36px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 34px 102px 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 114px 262px 60px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: -20px;
    z-index: 1;

    content: "";
    width: 320px;
    height: 1px;

    background-color: $special-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.template-section--photo {
  padding: 33px 0 0;

  @media (min-width: $tablet-width) {
    padding: 64px 105px 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 64px 380px 25px;
  }
}

.template-section--photos {
  padding: 12px 3px 12px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 58px 95px 5px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 370px 5px;
  }
}

.template-section__title--slogan {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin: 0 auto;
  }
}
