.town-advantages {
  @include list-reset;

  background-color: $white;
  color: $black;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.town-advantages__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  padding: 0 39px 0 68px;

  &:last-child {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 59px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 32px;
    margin-bottom: 59px;
    width: 256px;
    text-align: center;

    &:nth-child(3) {
      padding: 0 40px;
    }

    &--souvenirs {
      order: 2;
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 0 58px;

    &:nth-child(2) {
      padding: 0 87px;
    }

    &:nth-child(3) {
      padding: 0 50px;
    }
  }
}

.town-advantages__title {
  margin: 33px 0 16px;

  @include basic-title;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-top: 158px;
    margin-bottom: 20px;
  }
}

.town-advantages__title--souvenirs,
.town-advantages__title--food {
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 158px;
  }
}

.town-advantages__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 2px;
  }


  @include basic-text;

  &--souvenirs,
  &--food {
    padding-left: 3px;

    @media (min-width: $tablet-width) {
      padding-left: 0;
    }
  }
}

.town-advantages__description--food br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.town-advantages__description--souvenirs br {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}


.town-advantages__item--housing::before {
  position: absolute;
  left: 21px;
  top: 24px;

  content: "";
  width: 39px;
  height: 37px;

  background: url("../img/svg/icon-house.svg") no-repeat 0 0;
  background-size: cover;

  @media (min-width: $tablet-width) {
    left: 50%;
    top: 60px;

    width: 75px;
    height: 72px;

    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    left: calc(50% - 4px);
    top: 58px;
  }
}

.town-advantages__item--souvenirs::before {
  position: absolute;
  left: 24px;
  top: 15px;

  content: "";
  width: 32px;
  height: 38px;

  background: url("../img/svg/icon-gift.svg") no-repeat 0 0;
  background-size: cover;

  @media (min-width: $tablet-width) {
    left: 50%;
    top: 57px;

    width: 64px;
    height: 75px;

    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    left: calc(50% - 3px);
    top: 54px;
  }
}

.town-advantages__item--food::before {
  position: absolute;
  left: 18px;
  top: 20px;

  content: "";
  width: 40px;
  height: 35px;

  background: url("../img/svg/icon-burger.svg") no-repeat 0 0;
  background-size: cover;

  @media (min-width: $tablet-width) {
    left: 50%;
    top: 63px;

    width: 76px;
    height: 68px;

    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    left: calc(50% - 2px);
    top: 61px;
  }
}
