.town-advantages {
  @include list-reset;

  background-color: $white;
  color: $black;

  @media(min-width: $tablet-width) {
    display: flex;
  }
}

.town-advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 40px 0 70px;

  &:last-child {
    margin-bottom: 35px;
  }

  @media(min-width: $tablet-width) {
    padding: 0 32px;
    margin-bottom: 59px;
    width: 256px;
    text-align: center;

    &:nth-child(3) {
      padding: 0 40px;
    }

    &--souvenirs {
      order: 2;
    }
  }
  @media(min-width: $desktop-width) {
    width: 400px;
    padding: 0 58px;

    &:nth-child(2) {
      padding: 0 100px;
    }

    &:nth-child(3) {
      padding: 0 50px;
    }
  }
}

.town-advantages__title {
  margin: 40px 0 20px;
  @include basic-title;

  @media(min-width: $tablet-width) {
    font-size: 21px;
    margin-top: 158px;
  }
}

.town-advantages__description {
  margin: 0;
  @include basic-text;
}


.town-advantages__item--housing::before {
  position: absolute;
  left: 21px;
  top: 30px;

  content: "";
  width: 39px;
  height: 37px;

  background: url("../img/svg/icon-house.svg") no-repeat 0 0;
  background-size: cover;

  @media(min-width: $tablet-width) {
    left: 50%;
    top: 60px;

    width: 75px;
    height: 72px;

    transform: translateX(-50%);
  }
}

.town-advantages__item--souvenirs::before {
  position: absolute;
  left: 25px;
  top: 30px;

  content: "";
  width: 32px;
  height: 38px;

  background: url("../img/svg/icon-gift.svg") no-repeat 0 0;
  background-size: cover;

  @media(min-width: $tablet-width) {
    left: 50%;
    top: 57px;

    width: 64px;
    height: 75px;

    transform: translateX(-50%);
  }
}

.town-advantages__item--food::before {
  position: absolute;
  left: 18px;
  top: 33px;

  content: "";
  width: 40px;
  height: 35px;

  background: url("../img/svg/icon-burger.svg") no-repeat 0 0;
  background-size: cover;

  @media(min-width: $tablet-width) {
    left: 50%;
    top: 63px;

    width: 76px;
    height: 68px;

    transform: translateX(-50%);
  }
}
