.video-player {
  position: relative;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin: 0 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 200px;
  }
}

.video-player img {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 500px;
    margin: 0;
  }
}

.video-player__controls {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 45px 66px;

  margin: 0 20px;
  margin-top: -45px;
}

.video-player__timeline {
  position: relative;
  grid-column: 1 / 6;
  grid-row: 1 / 2;

  background-color: rgba(0, 0, 0, 0.6);
}

.video-player__timeline-line {
  margin-top: 22px;
  margin-left: 22px;

  width: 235px;
  height: 3px;

  background-color: rgba(255, 255, 255, 0.2);
}

.video-player__timeline-toggle {
  position: absolute;
  top: 50%;
  transform: (translateY(-50%));

  margin-left: 57px;

  width: 10px;
  height: 10px;

  background-color: $white;
  border-radius: 50%;
}

.video-player__button {
  display: block;

  border: none;
  background: none;
}

.video-player__replay {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  border: 0;

  background-color: $light-gray;
}

.video-player__closed-caption {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  border: 0;

  background-color: $light-gray;
}

.video-player__fullscreen {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  border: 0;

  background-color: $light-gray;
}

.video-player__button--replay {
  margin-left: 19px;
  margin-top: 20px;
}

.video-player__button--closed-caption {
  margin-left: 99px;
  margin-top: 20px;
}

.video-player__button--fullscreen {
  margin-left: 19px;
  margin-top: 20px;
}

.video-player__button svg {
  fill: $video-player-controls;
}

.video-player__button:hover svg {
  fill: $dark-gray;
}

.video-player__button:active svg {
  fill: $dark-gray;
  opacity: 0.3;
}
