.video {
  margin-bottom: 50px;

  @media (min-width: $desktop-width) {
    margin: 0 200px;
  }
}

  .video__item {
    @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
    margin-left: 60px;
  }

    @media (min-width: $desktop-width) {
    width: 800px;
    height: 500px;
    margin: 0;
  }
}
