.video-player {
  position: relative;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin: 0 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 200px;
  }
}

.video-player img {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 500px;
    margin: 0;
  }
}

.video-player__controls {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 45px 66px;

  margin: 0 20px;
  margin-top: -45px;

  @media (min-width: $tablet-width) {

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 93px;


    margin: 0;
    margin-top: -93px;
  }
}

.video-player__timeline {
  position: relative;
  grid-column: 1 / 6;

  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: $tablet-width) {
    grid-column: 2 / 7;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.video-player__timeline-line {
  margin-top: 22px;
  margin-left: 22px;

  width: 235px;
  height: 3px;

  background-color: rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-left: 12px;

    width: 389px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 2px;
    left: -20px;
    z-index: 1;
    width: 540px;
  }
}

.video-player__timeline-toggle {
  position: absolute;
  top: 50%;
  transform: (translateY(-50%));

  margin-left: 57px;
  padding: 0;

  width: 10px;
  height: 10px;

  background-color: $white;
  border-radius: 50%;
  border: none;
  outline: none;

  &:hover {
    border: 1px solid $dark-gray;
    width: 15px;
    height: 15px;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    margin-left: 125px;
  }

  @media (min-width: $desktop-width) {
    top: 52%;
    margin-left: 104px;
    z-index: 2;
  }
}

.video-player__button {
  display: block;

  border: none;
  background: none;
  outline: none;
}

.video-player__replay {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  border: 0;

  background-color: $light-gray;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    padding-top: 34px;
    padding-left: 29px;

    background-color: rgba(0, 0, 0, 0.6);
  }
}

.video-player__closed-caption {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  border: 0;

  background-color: $light-gray;

  @media (min-width: $tablet-width) {
    grid-column: -2/ -3;
    grid-row: 1 / 2;

    padding-top: 35px;
    padding-left: 32px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
  }
}

.video-player__fullscreen {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  border: 0;

  background-color: $light-gray;

  @media (min-width: $tablet-width) {
    grid-column: -1/ -2;
    grid-row: 1 / 2;

    padding-top: 35px;
    padding-left: 14px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.video-player__button--replay {
  margin-left: 19px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.video-player__button--closed-caption {
  margin-left: 99px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 1px;

    @media (min-width: $desktop-width) {
      position: absolute;
      top: 37px;
      left: 66px;
    }
  }
}

.video-player__button--fullscreen {
  margin-left: 19px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;
    padding-left: 36px;
  }
}

.video-player__button svg {
  fill: $video-player-controls;

  @media (min-width: $tablet-width) {
    fill: $white;
  }
}

.video-player__button:hover svg {
  fill: $dark-gray;

  @media (min-width: $tablet-width) {
    fill: $white;
    opacity: 0.6;
  }
}

.video-player__button:active svg {
  fill: $dark-gray;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    fill: $white;
  }
}
