/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"),
       url("../fonts/ptsans.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2"),
       url("../fonts/ptsansbold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
