/* Colors */

$white: #ffffff;
$black: #000000;
$dark-gray: #333333;
$light-blue: #81b3d2;
$gray: #eeeeee;
$light-gray: #f2f2f2;
$special-gray: #e5e5e5;

/* Breakpoints */

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
