/* Colors */

$white: #ffffff;
$black: #000000;
$dark-gray: #333333;
$light-blue: #81b3d2;
$gray: #eeeeee;
$light-gray: #f2f2f2;
$light-special-gray: #eaeaea;
$special-gray: #e5e5e5;
$active-gray: #d5d5d5;
$line-design: #dbdbdb;
$button-hover: #669ec0;
$button-active: #5496bd;

/* Breakpoints */

$tablet-width: 768px;
$desktop-width: 1200px;
